{% assign this_method = include.method | default: page %}
<span class="anchor" id="{{ this_method.title | slugify }}"></span>
<article class="method">
  <div class="method--panel method--panel--front">
    <h1 class="method--title" itemprop="headline"><a href="{{ site.baseurl }}{{ method.url }}">
      {% if this_method.title %}
        {{ this_method.title }}
      {% endif %}
    </a></h1>
      <h2>What</h2>
      <p>{{ this_method.description | smartify | liquify | markdownify }}</p>
      <h2>Why</h2>
      <p>{{ this_method.why | smartify | liquify | markdownify }}</p>
      <hr>
      <h2>Templates</h2>
      <ul style="margin-left:0; padding-left:0; list-style-type:none;">
        {% assign method_templates = site.data.templates[this_method.title] %}
        {% for template in method_templates %}
        <li><a href="{{ template.url }}">{{ template.name }}</a> ({{ template.tool }})</li> 
        {% endfor %}
      </ul>
    <footer>
      <section class="method--section method--section--category">
        <h1>Phase</h1>
        <p>{{ this_method.category }}</p>
      </section>
      <section class="method--section method--section--time-required">
        <h1>Time required</h1>
        <p>{{ this_method.timeRequired | smartify | liquify | markdownify }}</p>
      </section>
    </footer>
  </div>
  <div class="method--panel method--panel--back">
    {{ this_method.content | smartify | liquify | markdownify }}
  </div>
</article>
