{% assign method_templates = site.data.templates | sort: item[0] %}
<ul style="display:flex; flex-flow:column wrap; margin-left:0; padding-left:0; height:24rem; list-style-type:none;">
  {% for item in method_templates %}
  <li style="width:33%;"><a href="#{{ item[0] | slugify }}"">{{ item[0] }}</a></li>
  {% endfor %}
</ul>
{% for item in method_templates %}
    <h2 id="{{ item[0] | slugify }}">{{ item[0] }}</h2>
    {% assign templates = item[1] %}
    <ul>
    {% for template in templates %}
    <li>
        <a href="{{ template.url }}" target="_blank">{{ template.name }}</a> ({{ template.tool }})
    </li> 
    {% endfor %}
  </ul>
{% endfor %}