.category {

  .category--title {
    font-family: $font-sans;
    font-size: $h2-font-size;
    margin-top: 0;
    margin-bottom: .2em;
  }

  .category--subtitle {
    font-family: $font-sans;
    font-size: $h3-font-size;
    font-weight: 600;
  }

  .category--header {
    margin-bottom: 2.5em;
    padding-left: 0;

    a {
      font-weight: 600;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.category--awareness  { background-color: $color-bixal-purple; }
.category--observation { background-color: $color-bixal-orange; }
.category--interpretation { background-color: $color-bixal-teal; }
.category--exploration { background-color: $color-bixal-maroon; }
.category--validation { background-color: $color-bixal-green; }
.category--fundamentals { background-color: $color-bixal-navy; }


.category--awareness--title { border-color: $color-bixal-purple; }
.category--observation--title { border-color: $color-bixal-orange; }
.category--interpretation--title { border-color: $color-bixal-teal; }
.category--exploration--title { border-color: $color-bixal-maroon; }
.category--validation--title { border-color: $color-bixal-green; }
.category--fundamentals { border-color: $color-bixal-navy; }


.category--fundamentals,
.intro-header {
  background-color: $color-bixal-navy;
  .category--header .category--subtitle,
  .category--header .category--title,
  .category--header p {
    color: $color-inverse;
  }
}

.intro-header {
  color: $color-bixal-orange;
  font-family: $font-serif;
}

@media screen and (max-width: 950px) {
  .category--intro .usa-font-lead {
    font-size: 2.5rem;
  }

}




.layout--methods {
  .category {
    background-color: #fff;
    .usa-width-two-thirds {
      margin-right: 0;
      padding-right: 2.35765%;
    }
    .usa-width-one-third {
      padding-left: 2.35765%;
    }
  }
  .category--awareness {
      .usa-width-two-thirds
      { border-color: $color-bixal-purple; }
      .usa-width-one-third {
        border-color: lighten( $color-bixal-purple, 25% )
      }
    }
  .category--observation {
    .usa-width-two-thirds
    { border-color: $color-bixal-orange; }
    .usa-width-one-third {
      border-color: lighten( $color-bixal-orange, 25% )
    }
  }
  .category--interpretation {
    .usa-width-two-thirds
    { border-color: $color-bixal-teal; }
    .usa-width-one-third {
      border-color: lighten( $color-bixal-teal, 25% )
    }
  }
  .category--exploration {
    .usa-width-two-thirds
    { border-color: $color-bixal-maroon; }
    .usa-width-one-third {
      border-color: lighten( $color-bixal-maroon, 25% )
    }
  }
  .category--validation {
      .usa-width-two-thirds
      { border-color: $color-bixal-green; }
      .usa-width-one-third {
        border-color: lighten( $color-bixal-green, 25% )
      }
    }
  .category--fundamentals {
    .usa-width-two-thirds
    { border-color: $color-bixal-navy; }
    .usa-width-one-third {
      border-color: lighten( $color-bixal-navy, 25% )
    }
    .category--header .category--subtitle,
    .category--header .category--title,
    .category--header p {
      color: inherit;
    }
  }
  .category {
    padding: 3rem;
    margin-bottom: 3rem;
    border-radius: 6px;

    .category--header {
      margin-bottom: 0;
    }
    .usa-width-two-thirds, .usa-width-one-third {
      border-top-width: 8px;
      border-top-style: solid;
    }
    .category--subtitle {
        margin-top: 2rem;
    }
    h2 {
      font-size: 2rem;
      margin-top: 2rem;
    }
    .method-listing {
      li {
        margin-bottom: .5rem;
      }
    }
  }
}


@media screen and (max-width: 600px) {
  .layout--introduction {
    .category {
      .usa-width-two-thirds {
        padding-bottom: 2rem;
      }

      .usa-width-one-third {
        padding-left: 0;
      }
    }
  }
}
